{% assign current_year = site.time | date: "%Y" %} {% assign post_year =
include.post.date | date: "%Y" %}
<article class="card blog-card">
  <p class="eyebrow">
    {% if post_year == current_year %} {{ include.post.date | date: "%b %-d" }}
    {% else %} {{ include.post.date | date: "%b %-d, %Y" }} {% endif %}
  </p>

  <h2>
    <a href="{{ include.post.url | relative_url }}">
      {{ include.post.title }}
    </a>
  </h2>

  {% if include.post.description %}
  <p>{{ include.post.description }}</p>
  {% else %}
  <p>{{ include.post.excerpt | strip_html | truncate: 160 }}</p>
  {% endif %}
</article>
